<div class="row">
  <div class="col-6">
    <h1>{{recipe.title}}</h1>
  </div>
  <div class="col-6">
    <div class="float-right" *ngIf="loggedIn();">
      <button class="btn btn-danger" (click)="deleteRecipe(recipe.id);">Delete</button>
    </div>
  </div>
  <div class="col-6">
    <h3>{{recipe.description}}</h3>
    <h6>Created by {{recipe.createdBy.userName}}</h6>
    <p>{{recipe.body}}</p>
  </div>
  <div class="col-6" *ngIf="loggedIn();">
    <h4>Edit recipe</h4>
    <form (submit)="onSubmit($event, recipe.id);">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="New title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" id="description" placeholder="New description">
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <textarea type="text" name="body" class="form-control" id="body" value="" placeholder="New body"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
