<div class="row">
  <div class="col-8">
    <h4>New recipe</h4>
    <form (submit)="onSubmit($event); goHome();">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" placeholder="New title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" class="form-control" id="description" placeholder="New description">
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <textarea type="text" name="body" class="form-control" id="body" value="" placeholder="New body"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
